<%- include('../partials/header.ejs')%>
<main id="connectionInformation">
    <h2><%= connection.title%></h2>
    <img src="<%= connection.img%>" alt="<%= connection.imgAlt%>">
    <p>
        <%= connection.content%><br><br>
        <b>Hosted by: <%= connection.host%></b><br><br>
        <b>Date: <%= moment(connection.date).format('MM/DD/YYYY')%></b><br><br>
        <b>Location: <%=connection.where%></b><br><br>
        <b>Start time: <%= connection.startTimeHour%>:<%= connection.startTimeMinute%></b>
        <b><%= connection.startTimePeriod%></b><br><br>
        <b>End time: <%= connection.endTimeHour%>:<%= connection.endTimeMinute%></b>
        <b><%= connection.endTimePeriod%></b><br><br>
    </p>
    <div id="connectionButtons">
        <form>
            <button type="submit" formmethod="GET" formaction="/connections/<%= connection._id%>/edit">Update</button>
            <button type="submit" formmethod="POST" formaction="/connections/<%= connection._id%>?_method=DELETE">Delete</button>
        </form>
    </div>
</main>
<footer>
<%- include('../partials/footer.ejs')%>