<%- include('../partials/header.ejs')%>
<main id="connectionInformation">
    <h2><%= connection.title%></h2>
    <img src="<%= connection.img%>"alt="<%= connection.imgAlt%>">
    <p>
        <%= connection.content%><br><br>
        <b>Hosted by: <%= connection.host%></b><br><br>
        <b><%= connection.date%></b><br><br>
        <b>Location: <%=connection.where%></b><br><br>
        <b>Start: <%= connection.start%></b>
        <b>End: <%= connection.end%></b><br><br>
    </p>
    <div id="connectionButtons">
        <form>
            <button type="submit" formmethod="GET" formaction="/connections/<%= connection.id%>/edit">Update</button>
            <button type="submit" formmethod="POST" formaction="/connections/<%= connection.id%>?_method=DELETE">Delete</button>
        </form>
    </div>
</main>
<footer>
<%- include('../partials/footer.ejs')%>