<%- include('../partials/header.ejs')%>
<main id="newConnection">
    <h2>Create an event to socialize with like-minding women!</h2>
    <h3>Please fill out the form below to provide necessary information to create the new connection:</h3>
    <hr/>
    <div id="form">
        <form method='POST' action="/connections/<%= connection._id%>?_method=PUT"> 
            <label for="type">Type:</label>
            <select name="type" id="type">
                <option value="Meeting">Meeting</option>
                <option value="Workshop">Workshop</option>
                <option value="Other">Other</option>
            </select><br><br>

            <label for="title">Topic:</label>
            <input type="text" id="title" name="title" value="<%= connection.title%>" required><br><br>

            <label for="host">Host:</label>
            <input type="text" id="host" name="host" value="<%= connection.host%>" required><br><br>

            <label for="content">Details:</label>
            <input type="text" id="content" name="content" value="<%= connection.content%>" required><br><br>

            <label for="where">Where:</label>
            <select name="where" id="where">
                <option value="Zoom">Zoom</option>
                <option value="On campus">On campus</option>
                <option value="Other">Other</option>
            </select><br><br>

            <label for="date">When:</label>
            <input type="date" id="date" name="date" value="<%= connection.date%>" required><br><br>

            <label for="startTime">Start Time:</label>
            <input type="number" id="startTime" name="startTimeHour" required min="1" max="12" value="<%= connection.startTimeHour%>"> :
            <input type="number" id="startTime" name="startTimeMinute" required min="-1" max="59" value="<%= connection.startTimeMinute%>">
            <select name="timePeriod" name="timePeriod">
                <option value="AM">AM</option>
                <option value="PM">PM</option>
            </select><br><br>

            <label for="endTime">End Time:</label>
            <input type="number" id="startTime" name="endTimeHour" required min="1" max="12" value="<%= connection.endTimeHour%>"> :
            <input type="number" id="startTime" name="endTimeMinute" required min="-1" max="59" value="<%= connection.endTimeMinute%>">
            <select name="timePeriod" name="timePeriod">
                <option value="AM">AM</option>
                <option value="PM">PM</option>
            </select><br><br>

            <label for="img">Url:</label>
            <input type="url" id="img" name="img" value="<%= connection.img%>"><br><br>

            <input type="submit" id="button" value="Create Connection"/>
        </form>
    </div>
</main>
<footer id="footScroll">
<%- include('../partials/footer.ejs')%>