<%- include('../partials/header.ejs')%>
<main id="newConnection">
    <h2>Create an event to socialize with like-minding women!</h2>
    <h3>Please fill out the form below to provide necessary information to create the new connection:</h3>
    <hr/>
    <div id="form">
        <form method='POST' action="/connections/<%= connection.id%>?_method=PUT"> 
            <label for="type">Type:</label>
            <select name="type" id="type">
                <option value="Meeting">Meeting</option>
                <option value="Workshop">Workshop</option>
                <option value="Other">Other</option>
            </select><br><br>

            <label for="title">Topic:</label>
            <input type="text" id="title" name="title" value="<%= connection.title%>"><br><br>

            <label for="host">Host:</label>
            <input type="text" id="host" name="host" value="<%= connection.host%>"><br><br>

            <label for="content">Details:</label>
            <textarea rows="3" cols="20" name="content" value="<%= connection.content%>"></textarea><br><br>

            <label for="where">Where:</label>
            <select name="where" id="where">
                <option value="Zoom">Zoom</option>
                <option value="On campus">On campus</option>
                <option value="Other">Other</option>
            </select><br><br>

            <label for="when">When:</label>
            <input type="date" id="when" name="when" value="<%= connection.when%>"><br><br>

            <label for="start">Start Time:</label>
            <input type="time" id="start" name="start" value="<%= connection.start%>"><br><br>

            <label for="end">End Time:</label>
            <input type="time" id="end" name="end" value="<%= connection.end%>"><br><br>

            <label for="img">Url:</label>
            <input type="url" id="img" name="img" value="<%= connection.img%>"><br><br>

            <input type="submit" id="button" value="Create Connection"/>
        </form>
    </div>
</main>
<footer id="footScroll">
<%- include('../partials/footer.ejs')%>